{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="my-4">Posts
        <small>list</small>
    </h1>

    <div>
        {% for post in posts if posts %}
            {% set createAt = post.createAt|date('d.m.Y') %}
            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x200" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title"><a href="{{ path('detail_post', {'id': post.id}) }}">{{ post.title }}</a></h2>
                    <p class="card-text">{{ post.body|length > 100 ? post.body|slice(0, 100) ~ '...' : post.body }}</p>
                    <a href="{{ path('detail_post', {'id': post.id}) }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted {{ createAt == currentDate|date('d.m.Y') ? 'Today' : createAt }} by
                    <a href="#">{{ post.author.username }}</a>,
                    <a href="{{ path('detail_post', {'id': post.id}) }}">{{ post.comments|length }}</a> Comments
                </div>
            </div>
        {% else %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">No posts</h2>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    {#<ul class="pagination justify-content-center mb-4">#}
        {#<li class="page-item">#}
            {#<a class="page-link" href="#">&larr; Older</a>#}
        {#</li>#}
        {#<li class="page-item disabled">#}
            {#<a class="page-link" href="#">Newer &rarr;</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}


{% block sidebar %}
    <!-- Create New Post Widget -->
    <div class="card my-4">
        <h5 class="card-header">Create new post</h5>
        <div class="card-body">
            <a href="{{ path('create_post') }}" class="btn btn-primary">Create</a>
        </div>
    </div>

    {{ parent() }}

{% endblock %}